<h2>Tessel Graph</h2>

<ui-select ng-model="jsonFileProperties.selectedJSONFile"
           theme="bootstrap"
           reset-search-input="false"
           style="width: 300px;">
    <ui-select-match placeholder="Select a source data file...">{{$select.selected}}</ui-select-match>
    <ui-select-choices repeat="fileName in jsonFileProperties.allJSONFileNames track by $index"
                       refresh="getAllJSONFileNames()"
                       refresh-delay="0">
        <div ng-bind-html="fileName | highlight: $select.search"></div>
    </ui-select-choices>
</ui-select>
<br/>
<tabset>
    <tab ng-repeat="dataType in jsonFileProperties.allDataTypes" heading="{{dataType | firstCharToUppercase}}" select="jsonFileProperties.selectedDataType = dataType">
        <ui-select ng-model="jsonFileProperties.selectedAnalysisMethod"
                   theme="bootstrap"
                   reset-search-input="false"
                   style="width: 300px;">
            <ui-select-match placeholder="Select an analysis method...">{{$select.selected | formatMethod}}</ui-select-match>
            <ui-select-choices repeat="method in jsonFileProperties.allAnalysisMethods track by $index"
                    refresh="getAllAnalysisMethods(jsonFileProperties.selectedDataType)"
                    refresh-delay="0">
                <div ng-bind-html="method | formatMethod | highlight: $select.search"></div>
            </ui-select-choices>
        </ui-select>
        <nvd3-line-chart
                data="tesselGraphData[jsonFileProperties.selectedDataType]"
                showxaxis="true"
                showyaxis="true"
                xaxistickformat="xAxisTickFormatFunction()"
                width="550"
                height="350"
                showlegend="true"
                useinteractiveguideline="true"
                tooltips="true"
                interpolate="cardinal-open">
        </nvd3-line-chart>
    </tab>
</tabset>