/* app css stylesheet */

.comments-container {
    width:400px;
    border:1px solid #bbb;
    margin:50px;
    padding: 10px;
}

.comment-list {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}

.comment-list li {
    margin:0;
    margin-top:10px;
}

.comment-list li > div {
    display:table-cell;
}

.comment-text p {
    margin:0;
}

.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}

.comment-box {
    border-top:1px dotted #bbb;
    padding:10px;
}

.comment-box .form-group * {
    width:100%;
}
