/* app css stylesheet */

.comments-container {
    width:500px;
    border:1px solid #bbb;
    margin:50px;
    padding: 10px;
}

.comments-container .form-group * {
    width:100%;
}

.comment-upload {
    display: inline-block;
    width: 100%;
    height: 100px;
    padding: 5px;
    border: 1px dotted #ccc;
    border-radius: 4px;
}

.comment-image-preview {
    display: inline-block;
}

.comment-add-image-box {
    position: relative;
    width: 80px;
    height: 80px;
    margin: 0 10px 0 10px;
    padding: 0;
    border-radius: 15%;
}

.comment-add-image-box:hover {
    -webkit-box-shadow: 1px 1px 2px rgba(20%, 20%, 40%, 0.5);
    -moz-box-shadow: 1px 1px 2px rgba(20%, 20%, 40%, 0.5);
    box-shadow: 1px 1px 2px rgba(20%, 20%, 40%, 0.5);
}

.comment-add-image-box .comment-remove {
    display: none;
}

.comment-add-image-box:hover .comment-remove {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 20px;
    height: 20px;
    color: #f1f1f1;
    background: red;
    margin-top: -10px;
    margin-right: -10px;
    padding-top: 3px;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-shadow: 0 0 1px rgba(0,0,0,0.5);
    border-radius: 50%;
}

.comment-add-image-box .comment-remove:hover {
    -webkit-box-shadow: 1px 1px 2px rgba(20%, 20%, 40%, 0.5);
    -moz-box-shadow: 1px 1px 2px rgba(20%, 20%, 40%, 0.5);
    box-shadow: 1px 1px 2px rgba(20%, 20%, 40%, 0.5);
}

.comment-add-image {
    width: 100%;
    height: 100%;
    border-radius: inherit
}

.comment-upload-zone {
    width: 80px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    border: 3px dashed #204d74;
    border-radius: 15%;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.comment-upload-zone-over {
    border: 3px dashed red;
}

.comment-upload-zone a {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.comment-button-bar {
    display: inline-block;
    width: 100%;
}

.comment-pagination {
    margin: 2px;
}

.comment-search-sort-bar {
    width: 100%;
}

.comment-search-sort-bar .comment-search {
    display: inline-block;
    width: 30%;
    margin: 2px;
}

.comment-search-sort-bar .comment-sort {
    display: inline-block;
    width: 67%;
    margin: 2px;
}

.comment-list {
    padding:0;
    list-style:none;
    max-height:200px;
    overflow:auto;
}

.comment-list li {
    margin:0;
    margin-top:10px;
}

.comment-list li > div {
    display:table-cell;
}

.comment-text p {
    margin:0;
}

.sub-text {
    color:#aaa;
    font-family:verdana;
    font-size:11px;
}

.comment-box {
    border-top:1px dotted #bbb;
    padding:10px;
}

.comment-box-image-container {
    display: block;
}

.comment-box-image {
    display: inline-block;
    width: 80px;
    height: 80px;
    padding: 0;
    margin: 2px 0 2px 0;
}

.sticker-container {
    width: 166px;
}

.sticker {
    width: 50px;
    height: 50px;
}

.sticker-container .sticker {
    float: left;
    margin: 2px;
    padding: 0;
}

.sticker-container:hover .sticker {
    zoom: 1;
    filter: alpha(opacity=45);
    opacity: 0.45;
    -webkit-transition: opacity .2s ease-in-out;
    -moz-transition: opacity .2s ease-in-out;
    -ms-transition: opacity .2s ease-in-out;
    -o-transition: opacity .2s ease-in-out;
    transition: opacity .2s ease-in-out;
}

.sticker-container .sticker:hover {
    box-shadow: 3px 3px 15px #666;
    cursor: pointer;
    zoom: 1;
    filter: alpha(opacity=100);
    opacity: 1;
}

.up {
    bottom:100% !important;
    top:auto !important;
}
